version: "3.8"
services:
  elasticsearch:
    image: elasticsearch:7.12.0
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200

  kibana:
    image: kibana:7.12.0
    environment:
      - "ELASTICSEARCH_URL=http://elasticsearch:9200"
      - "SERVER_NAME=127.0.0.1"
    ports:
      - 5601:5601

  gistchecker:
    build: .
    ports:
     - "8082:8080"
    command: sh wait_to_start.sh
    environment:
        - WAIT_COMMAND=[ $$(curl --write-out %{http_code} --silent --output /dev/null http://elasticsearch:9200/_cat/health?h=st) = 200 ]
        - WAIT_START_CMD=flask run --host=0.0.0.0
        - WAIT_SLEEP=60
        - WAIT_LOOPS=10
        - GITHUB_USERNAMES=["articvox", "RolandSaks"]
    links:
     - elasticsearch
     - kibana

volumes:
  esdata:
    driver: local
