version: "3.8"
services:
  elasticsearch:
    image: elasticsearch:7.12.0
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200

  kibana:
    image: kibana:7.12.0
    environment:
      - "ELASTICSEARCH_URL=http://elasticsearch:9200"
      - "SERVER_NAME=127.0.0.1"
    ports:
      - 5601:5601

  gistchecker:
    build: .
    ports:
     - "80:8080"
    command: sh wait_to_start.sh
    environment:
        - WAIT_COMMAND=timeout 300 bash -c "until curl --silent --output /dev/null http://elasticsearch:9200/_cat/health?h=st; do printf '.'; sleep 5; done; printf '\n'"
        - WAIT_START_CMD=flask run --host=0.0.0.0
        - WAIT_SLEEP=60
        - WAIT_LOOPS=10
        - PIPEDRIVE_API_KEY=5fde64f8841ac81f4dc1fa031a33c59ad3b32bc4
        - PIPEDRIVE_COMPANY=rolandtestcompnay
    links:
     - elasticsearch
     - kibana

  jenkins:
    image: testgistpipe/jenkins:1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:8080   

volumes:
  esdata:
    driver: local
